.base-wrapper {
    height: auto;
    width: 350px;
    border-radius: 10px;
}

.day {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.night {
    background-color: rgba(27, 26, 26, 0.8);
    color: white;
}

.main {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchDiv {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem
}

form {
    display: flex;
    gap: 0.5rem;
}

input {
    padding: 0.3rem;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: rgb(79, 143, 228);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cityNameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


.tempDescDiv {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    height: 230px;
}

.tempDescDiv h1 {
    font-size: 5rem;
}

.tempDescDiv img {
    margin-top: -50px;
    width: 200px;
}

.moreInfo {
    background-color: rgb(236, 233, 233);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    color: black;
    margin-bottom: 1rem;
}

.upcomingWeather {
    display: flex;
    gap: 1rem;
    width: auto;
    padding: 1rem;
    justify-content: center;
}

.upcomingDays {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem;
}